*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter Tight", sans-serif;
  font-family: "Playfair", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* NavBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background: #fff;
  border-bottom: 1px solid #e2e4e9;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 1.6vw;
  font-weight: 600;
  color: #171c26;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #656e81;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #171c26;
}

.nav-btn {
  background: #192743;
  color: #fff;
  text-decoration: none;
  padding: 12px 32px;
  font-family: "Inter Tight", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #22365d;
}

/* Menu icon Navbar */

.navbar-toggle {
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background: #171c26;
  transition: 0.3s;
}

/* Responsive Navbar */

@media (max-width: 768px) {
  .nav-logo {
    font-size: 20px;
  }

  .navbar-toggle {
    display: block;
    z-index: 1002;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e2e4e9;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    gap: 25px;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    display: block;
    width: 100%;
    font-size: 15px;
  }

  .nav-btn {
    display: inline-block;
  }

  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero Section */
.hero-container {
  padding: 0rem 2rem;
  margin: 0rem 183px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.hero-container p:nth-child(1) {
  text-transform: uppercase;
  font-family: "Inter", serif;
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #656e81;
  margin-bottom: 2rem;
}
.hero-container h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  padding: 0px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.025em;
  color: #171c26;
  margin-bottom: 2rem;
  margin-top: 0px;
}
.hero-container p:nth-child(3) {
  font-family: "Inter Tight", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: #656e81;
  margin-top: 0px;
  margin-bottom: 3rem;
}
.max-w-2xl {
  max-width: 42rem;
}
.hero-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.hero-btn a:nth-child(1) {
  text-decoration: none;
  color: #ffffff;
  background-color: #192743;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025em;
  font-weight: 500;
  align-items: center;
  transition: ease-in 0.2s;
}
.hero-btn a:nth-child(1):hover {
  background-color: #192f52;
}
.hero-btn a:nth-child(2) {
  text-decoration: none;
  color: #656e81;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025em;
  font-weight: 500;
  align-items: center;
  transition: ease-in 0.2s;
}
.hero-btn a:nth-child(2):hover {
  text-decoration: underline;
  color: #192743;
  text-underline-offset: 4px;
}

/* Services */

.service-header {
  padding: 10dvw 5dvw;
  background-color: #f0f1f3;
  display: flex;
  flex-direction: column;
  gap: 2.7dvw;
}
.service-heading {
  font-family: "Inter Tight", sans-serif;
  color: black;
  opacity: 0.6;
  font-size: 0.95dvw;
  font-weight: 510;
  letter-spacing: 0.1dvw;
  line-height: 1dvw;
}
.service-main-heading {
  font-family: "Playfair", serif;
  color: #171c26;
  font-size: 4.1dvw;
  font-weight: 500;
  letter-spacing: -0.2dvw;
  line-height: 2dvw;
}
.service-description {
  font-family: "Inter Tight", sans-serif;
  color: black;
  opacity: 0.6;
  font-size: 1.6dvw;
  font-weight: 400;
  letter-spacing: -0.001dvw;
  line-height: 2dvw;
  padding-right: 30dvw;
}

.service-information {
  display: flex;
  flex-direction: column;
  gap: 10dvw;
  padding-bottom: 10dvw;
}
.service-information-number {
  width: 50dvw;
  display: flex;
  flex-direction: row;
  gap: 6dvw;
}
.service-number {
  font-family: "Inter Tight", sans-serif;
  color: #171c26;
  opacity: 0.6;
  font-size: 1dvw;
  font-weight: 500;
  line-height: 3dvw;
}
.service-title {
  font-family: "Playfair display", serif;
  color: #171c26;
  font-size: 2.2dvw;
  font-weight: 500;
  letter-spacing: -0.05dvw;
  line-height: 2.4dvw;
}

.service-information {
  padding-top: 9dvw;
}
.service-information-container {
padding: 0 5dvw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service-information-description {
  width: 60dvw;
  font-family: "Inter Tight", sans-serif;
  color: black;
  opacity: 0.6;
  font-size: 1.3dvw;
  font-weight: 427;
  letter-spacing: -0.001dvw;
  line-height: 2dvw;
  display: flex;
  flex-direction: column;
  gap: 1.5dvw;
}

/* ////////////////////Explore Private Engagement//////////////////////////////////// */
.explore-private-engagement {
  padding: 10dvw 5dvw;
  display: flex;
  flex-direction: column;
  gap: 2dvw;
  background-color: #f0f1f3;
  text-align: center;
  align-items: center;

}

.explore-title {
  font-family: "Playfair", serif;
  color: #171c26;
  font-size: 3.5dvw;
  font-weight: 500;
  letter-spacing: -0.2dvw;
  line-height: 2.4dvw;
}

.explore-description {
  font-family: "Inter Tight", sans-serif;
  color: black;
  opacity: 0.6;
  font-size: 1.3dvw;
  font-weight: 427;
  letter-spacing: 0.11dvw;
  line-height: 2dvw;
}

.explore-button {
  padding: 1.4dvw 4dvw;
  background-color: #12294b;
  color: white;
  font-weight: 550;
  font-size: 0.9dvw;
  letter-spacing: 0.05dvw;
  border: none;
}

/* Disclosure/////////////////////////////////////////////////////// */
.disclosure {
  padding-bottom: 10dvw;
}
.disclosure-head {
  padding: 10dvw 5dvw;
  background-color: #f0f1f3;
  display: flex;
  flex-direction: column;
  gap: 3dvw;
}
.disclosure-text {
  font-family: "Inter Tight", sans-serif;
  color: black;
  opacity: 0.6;
  font-size: 0.95dvw;
  font-weight: 510;
  letter-spacing: 0.2dvw;
  line-height: 1dvw;
}
.disclosure-heading {
  font-family: "Playfair", serif;
  color: #171c26;
  font-size: 4.6dvw;
  font-weight: 500;
  letter-spacing: -0.35dvw;
  line-height: 3.3dvw;
}

.disclosure-body {
  padding-left: 5dvw;
  font-family: "Inter Tight", sans-serif;
  color: rgb(83, 82, 82);
  font-size: 1.2dvw;
  font-weight: 450;
  letter-spacing: 0.05dvw;
  line-height: 1.4dvw;
  padding-right: 38dvw;
  display: flex;
  flex-direction: column;
  gap: 2dvw;
}

/* //////////////////////DISCLOSURE QUESTION ////////////////////////// */

.disclosure-question {
  padding-top: 4dvw;
  padding-bottom: 4dvw;
  display: flex;
  flex-direction: column;
  gap: 3dvw;
  text-align: center;
  align-items: center;
  background-color: #f0f1f3;
}

.disclosure-question-heading {
  font-family: "Playfair", serif;
  font-size: 2.7dvw;
  font-weight: 500;
  letter-spacing: -0.2dvw;
  line-height: 2.4dvw;
}
.disclosure-question-button {
  padding: 1.4dvw 4dvw;
  background-color: #12294b;
  color: white;
  font-weight: 550;
  font-size: 0.9dvw;
  letter-spacing: 0.05dvw;
  border: none;
}


/* /////////////////////////////////News///////////////////////////// */
.news{
    padding: 8dvw 21.5dvw;
    display: flex;
    flex-direction: column;
    gap: 5dvw;
}
.news-header{
  display: flex;
  flex-direction: column;
  gap: 1dvw;
}

.news-press-release{
  font-family: "inter tight", sans-serif;
  font-size: 1dvw;
  letter-spacing: 0.1dvw;
  font-weight: 500;
}

.news-title{
  font-family: "playfair display", sans-serif;
  font-size: 3.7dvw;
  font-weight: 500;
  opacity: 0.9;
}

.news-description{
  font-family: "inter tight", sans-serif;
  font-size: 1.4dvw;
  letter-spacing: 0.1dvw;
  opacity: 0.7;

}

/* /////////////////////NEWS BODY + CONTAINER////////////////// */

.news-body{
  display: flex;
  flex-direction: column;
  gap: 4dvw;
}

.news-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6dvw;

}
.news-container-box{
  display: flex;
  flex-direction: column;
  gap: 0.7dvw;

}
.news-container-box-date{
  font-family: "Inter Tight", sans-serif;
  font-size: 1.1dvw;
  letter-spacing: 0.09dvw;
  opacity: 0.7
}

.news-container-box-title{
  font-family: "playfair display", sans-serif;
  opacity: 0.9;
  font-size: 1.9dvw;
  font-weight: 500;
  letter-spacing: -0.1dvw;
}
.news-container-box-description{
  font-family: "inter tight", sans-serif;
  font-size: 1.15dvw;
  opacity: 0.7;
  letter-spacing: 0.03dvw;
  line-height: 1.7dvw;
}

.news-container a{
  text-decoration: none;
  color: black;
  white-space: nowrap;
  padding-top: 2.8dvw;
}

/* ///////////////////////////NEWS LINKS TO NEXT PAGES///////////////////////////// */

.Retail-investor-awareness{
  display: flex;
  flex-direction: column;
  gap: 2.5dvw;
  padding: 8dvw 21.5dvw;
}

.retail-back{
  font-family: "inter tight",  sans-serif;
  font-size: 1dvw;
  opacity: 0.7;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.retail-header{
  display: flex;
  flex-direction: column;
  gap: 2dvw;
}
.retail-title{
  font-family: "playfair display", sans-serif;
  font-size: 3.6dvw;
  opacity: 0.9;
  font-weight: 500;
  line-height: 3.7dvw;
  letter-spacing: -0.15dvw;

}




.retail-header .retail-meta{
  font-family: "inter tight", sans-serif;
  font-size: 1.1dvw;
  opacity: 0.7; 
  letter-spacing: 0.05dvw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5dvw 1dvw;
  border-top: 0.1dvw solid rgb(192, 189, 189);
  border-bottom: 0.1dvw solid rgb(192, 189, 189);

}

.retail-description{
  display: flex;
  flex-direction: column;
  gap: 2dvw;
  font-size: 1.25dvw;
  font-family: "inter tight", sans-serif;
  opacity: 0.7;
  letter-spacing: 0.1dvw;
}

/* ///////////////////Investor attention///////////// */
.investor-attention{
  display: flex;
  flex-direction: column;
  gap: 2dvw;
  font-size: 1.25dvw;
  font-family: "inter tight", sans-serif;
  opacity: 0.7;
  letter-spacing: 0.1dvw;
}
.investor-attention h1{
  font-size: 1.3dvw;
  opacity: 1.0;

}

.investor-attention ul {
  display: flex;
  flex-direction: column;
  gap: 1dvw;
}

.investor-attention ol {
  display: flex;
  flex-direction: column;
  gap: 1dvw;
}



/* Footer */
footer {
  background-color: #192743;
  color: #ffffff99;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
}
.footer-container {
  padding: 64px 32px;
  margin: 0px 23px;
}
.footer-top {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.footer-logo-container {
  grid-column: 1/3;
}
.footer-logo {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  color: #ffffff;
  margin: 0px;
}
.footer-tagline {
  font-size: 0.875rem;
  line-height: 0rem;
}
.footer-email {
  font-size: 0.875rem;
}
.footer-address {
  font-size: 0.875rem;
  margin-top: 1rem;
}
.footer-navigation {
  grid-column: 3/4;
}
.footer-heading {
  text-transform: uppercase;
  word-spacing: 0.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
}
.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0px;
}
.footer-links li a {
  text-decoration: none;
  color: #ffffff99;
  font-size: 0.875rem;
  transition: ease-in 0.2s;
}
.footer-links li a:hover {
  color: #ffffff;
}
.footer-legal {
  grid-column: 4/5;
}
.footer-bottom {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #ffffff33;
  display: flex;
  justify-content: space-between;
}
.footer-bottom p {
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0px;
  text-align: center;
}
/* footer responsive */
@media (max-width: 768px) {
  .footer-container {
    padding: 48px 24px;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-bottom p {
    margin-top: 0.5rem;
  }
}
